<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/stylesheet.css">
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio Contact Information">
        <meta name="keywords" content="Django, Bcrypt, Databases">
        <meta name="author" content="Jacob Erb">
    </head>
    <body>
        <div class="row">
            <div class = "col-3"></div>
            <div class = "col-6 header">
                <a href= "/">Home</a> | <a href= "/projects">Projects</a> | Contact
            </div>
            <div class = "col-3"></div>
        </div>
        <div class="row">
            <div class = "col-3"></div>
            <div class = "title col-6">
                Contact Me!
            </div>
            <div class = "col-3"></div>
        </div>
        <div class="row">
            <div class = "col-3"></div>
            <div class = "col-3">
                <label for="NameInp">Name: </label>
                <input id="NameInp" type="text">
                <br>
                <label for="EmailInp">Email: </label>
                <input id="EmailInp" type="text">
            </div>
            <div class = "col-4">
                <label for="MessageInp">Message: <label>
                <textarea id="MessageInp" rows="4" cols="50">
                </textarea>
                <input type="submit" value="Send">
            </div>
            <div class = "col-2"></div>
        </div>
    </body>
</html>