<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/stylesheet.css">
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio Contact Information">
        <meta name="keywords" content="Django, Bcrypt, Databases">
        <meta name="author" content="Jacob Erb">
    </head>
    <body>
        <div class="row">
            <div class = "col-3"></div>
            <div class = "col-6 header">
                <a href= "/">Home</a> | Projects | <a href= "/contact">Contact</a>
            </div>
            <div class = "col-3"></div>
        </div>
        <div class="row">
            <div class = "col-2"></div>
            <div class = "title col-8">
                Here are some projects of mine!
            </div>
            <div class = "col-2"></div>
        </div>
        <div class="row">
            <ul>
                <li>
                    <div class="row">
                        <div class="col-3">
                            <img src="~/images/Beauty.jpg" height="100" width="100">
                        </div><div class="col-9">
                            <h3>Project 1</h3>
                            <p>This is the paragraph for the description of project 1.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-3">
                            <img src="~/images/Dance.gif" height="100" width="100">
                        </div><div class="col-9">
                            <h3>Project 2</h3>
                            <p>This is the paragraph for the description of project 2.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-3">
                            <img src="~/images/nature.png" height="100" width="100">
                        </div><div class="col-9">
                            <h3>Project 3</h3>
                            <p>This is the paragraph for the description of project 3.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>